@font-face {
    font-display: swap; 
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/josefin-sans-v25-latin-300.eot'); 
    src: url('../fonts/josefin-sans-v25-latin-300.woff2') format('woff2'), 
         url('../fonts/josefin-sans-v25-latin-300.woff') format('woff');

}

@font-face {
    font-display: swap; 
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/josefin-sans-v25-latin-regular.eot'); 
    src: url('../fonts/josefin-sans-v25-latin-regular.woff2') format('woff2'), 
         url('../fonts/josefin-sans-v25-latin-regular.woff') format('woff');

}

@font-face {
    font-display: swap; 
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/josefin-sans-v25-latin-700.eot');
    src: url('../fonts/josefin-sans-v25-latin-700.woff2') format('woff2'), 
         url('../fonts/josefin-sans-v25-latin-700.woff') format('woff');


}

@font-face {
    font-display: swap;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/aleo-v11-latin-regular.eot');
    src: url('../fonts/aleo-v11-latin-regular.woff2') format('woff2'),
         url('../fonts/aleo-v11-latin-regular.woff') format('woff');
}