@import './fonts';

// colors
$-c-white: #ffffff;
$-c-black: #000000;
$-c-blue: #5373FD;
$-c-red: #FF6363;
$-c-light-blue: #00A2FF;
$-c-dark-gray: #333333;
$-c-grey-rgba: rgba(35, 35, 35, 0.9);
$-c-light-gray: #999999;
$-c-dark-blue: #486BFE;


// fonts
$-f-aleo: 'Aleo';
$-f-Josefin-Sans: 'Josefin Sans';
