.container {
  max-width: 1536px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}
@media screen and (max-width: 1536px) {
  .container {
    max-width: 1320px;
  }
}
@media screen and (max-width: 1320px) {
  .container {
    max-width: 992px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}
@media screen and (max-width: 640px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}

@font-face {
  font-display: swap;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/josefin-sans-v25-latin-300.eot");
  src: url("../fonts/josefin-sans-v25-latin-300.woff2") format("woff2"), url("../fonts/josefin-sans-v25-latin-300.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/josefin-sans-v25-latin-regular.eot");
  src: url("../fonts/josefin-sans-v25-latin-regular.woff2") format("woff2"), url("../fonts/josefin-sans-v25-latin-regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/josefin-sans-v25-latin-700.eot");
  src: url("../fonts/josefin-sans-v25-latin-700.woff2") format("woff2"), url("../fonts/josefin-sans-v25-latin-700.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/aleo-v11-latin-regular.eot");
  src: url("../fonts/aleo-v11-latin-regular.woff2") format("woff2"), url("../fonts/aleo-v11-latin-regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/josefin-sans-v25-latin-300.eot");
  src: url("../fonts/josefin-sans-v25-latin-300.woff2") format("woff2"), url("../fonts/josefin-sans-v25-latin-300.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/josefin-sans-v25-latin-regular.eot");
  src: url("../fonts/josefin-sans-v25-latin-regular.woff2") format("woff2"), url("../fonts/josefin-sans-v25-latin-regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/josefin-sans-v25-latin-700.eot");
  src: url("../fonts/josefin-sans-v25-latin-700.woff2") format("woff2"), url("../fonts/josefin-sans-v25-latin-700.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/aleo-v11-latin-regular.eot");
  src: url("../fonts/aleo-v11-latin-regular.woff2") format("woff2"), url("../fonts/aleo-v11-latin-regular.woff") format("woff");
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  transition: all 0.2s;
  background: no-repeat;
}

img, svg {
  vertical-align: top;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

.mb-28 {
  margin-bottom: 28px;
}

svg {
  fill: #ffffff;
}

.svg__blue {
  fill: #5373FD;
}
.svg__light-blue {
  fill: #00A2FF;
}
.svg__red {
  fill: #FF6363;
}

.main__link {
  font-family: "Aleo";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.main__discreet {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #ffffff;
}
.main__search {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.main__input {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #999999;
}
.main__h2 {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  color: #ffffff;
}
.main__paragraph {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.main__button {
  background: linear-gradient(to right, #486BFE, #5373FD);
  width: 213px;
  height: 60px;
  border: none;
  color: #ffffff;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  cursor: pointer;
}
.main__subtitle {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.main__h3 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}
.main__text {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.main__footer-subtitle {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.intro {
  background-image: url(../image/intro.jpg);
  height: 862px;
}
.intro__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 215px;
}
.intro__header {
  text-align: center;
  margin-bottom: 48px;
}
.intro__title {
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 8px;
}
.intro__subtitle {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.31em;
  color: #ffffff;
}
.intro__search {
  max-width: 647px;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 170px;
  position: relative;
}
.intro__scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.intro__scroll_svg {
  padding-top: 4px;
}
.intro__button {
  padding: 16px 24px;
  background-color: #5373FD;
  cursor: pointer;
  border: none;
  position: absolute;
  right: 5px;
}
.intro__button__text {
  width: 91px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.intro__button__svg {
  margin-right: 12px;
}

.search {
  width: 100%;
  height: 100%;
  padding: 20px 0px 20px 36px;
  border: none;
  border-radius: 6px 0px 6px 0px;
  background-color: #ffffff;
}

.header {
  background-color: #5373FD;
}
.header__burger {
  display: none;
}
.header__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0px 32px 0px;
}
.header__logo {
  padding: 5px;
}
.header-nav__list {
  display: flex;
  flex-direction: row;
}
.header-nav__list__close {
  position: absolute;
  right: 30px;
  top: 15px;
  background: none;
  box-shadow: none;
  border: none;
  width: 40px;
  height: 30px;
  display: none;
}
.header-nav__list__close::before, .header-nav__list__close::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #333333;
  top: calc(50% - 2px);
  transition: all 0.4s;
}
.header-nav__list__close::before {
  top: 0;
  transform: rotate(45deg) translate(9px, 9px);
}
.header-nav__list__close::after {
  top: calc(100% - 4px);
  transform: rotate(-45deg) translate(9px, -9px);
}
.header-nav__item {
  margin-right: 40px;
  padding: 5px;
  cursor: pointer;
}
.header-nav__item:last-child {
  margin: 0px;
}
.header-nav__close {
  position: absolute;
  right: 30px;
  top: 15px;
  background: none;
  box-shadow: none;
  border: none;
  width: 40px;
  height: 30px;
  display: none;
}

.header-nav__close::before, .header-nav__close::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #323232;
  top: calc(50% - 2px);
  transition: all 0.4s;
}

.header-nav__close::before {
  top: 0;
  transform: rotate(45deg) translate(9px, 9px);
}

.header-nav__close::after {
  top: calc(100% - 4px);
  transform: rotate(-45deg) translate(9px, -9px);
}

.choose {
  background-image: url(../image/choose.jpg);
  height: 704px;
}
.choose__body {
  padding: 124px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.choose__text {
  max-width: 648px;
  width: 100%;
  margin-right: 136px;
}
.choose-text__title {
  margin-bottom: 24px;
}
.choose-text__paragraph {
  margin-bottom: 32px;
}
.choose-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 424px;
  width: 424px;
}
.choose-img-1 {
  margin-bottom: 16px;
}
.choose-img-2 {
  margin-left: 74px;
}

.plan {
  background-color: #333333;
}
.plan__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.plan__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 107px 0px 60px 0px;
}
.plan__item_img {
  margin-bottom: 20px;
}

.spain {
  background-image: url(../image/spain.jpg);
  height: 684px;
}
.spain__body {
  display: flex;
  padding-top: 220px;
  align-items: center;
  justify-content: flex-start;
}
.spain__card {
  background: rgba(35, 35, 35, 0.9);
  max-width: 648px;
  width: 100%;
  height: 344px;
}
.spain-card {
  padding: 44px 32px;
}
.spain-card__subtitle {
  margin-bottom: 16px;
}
.spain-card__title {
  margin-bottom: 16px;
}
.spain-card__text {
  margin-bottom: 24px;
}
.madrid {
  background-image: url(../image/madrid.jpg);
  height: 684px;
}
.madrid__body {
  display: flex;
  padding-top: 220px;
  align-items: center;
  justify-content: flex-end;
}

.fitback {
  background-image: url(../image/fitback.jpg);
  height: 680px;
}
.fitback__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
}
.fitback__title {
  margin-bottom: 60px;
}
.fitback-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fitback-item__text {
  max-width: 885px;
  width: 885px;
  height: 275px;
  background-color: #333333;
  padding: 48px 65px 48px 60px;
}
.footer {
  background-color: #000000;
}
.footer__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;
}
.footer__logo {
  margin-bottom: 8px;
}
.footer__subtitle {
  margin-bottom: 24px;
}
.footer-social {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-social__item {
  margin-right: 32px;
}
.footer-social__item:last-child {
  margin: 0px;
}

.burger {
  background: none;
  box-shadow: none;
  border: none;
  width: 40px;
  height: 30px;
  position: relative;
}
.burger__item {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #333333;
  top: calc(50% - 2px);
  transition: all 0.4s;
}
.burger__item:first-child {
  top: 0;
}
.burger__item:last-child {
  top: calc(100% - 4px);
}

.is-active .burger__item {
  opacity: 0;
}
.is-active .burger__item:first-child {
  opacity: 1;
  transform: rotate(45deg) translate(9px, 9px);
}
.is-active .burger__item:last-child {
  opacity: 1;
  transform: rotate(-45deg) translate(9px, -9px);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}
.overlay.show {
  visibility: visible;
  opacity: 1;
}

.footer-social__item:hover .svg__social-facebook {
  fill: #5373FD;
}

.footer-social__item:hover .svg__social-twitter {
  fill: #00A2FF;
}

.footer-social__item:hover .svg__social-linkedin {
  fill: #486BFE;
}

.footer-social__item:hover .svg__social-youtube {
  fill: #FF6363;
}

.footer-social__item:hover .svg__social-pinterest {
  fill: #999999;
}

.main__button:hover {
  background: linear-gradient(90deg, #ffffff, #486BFE);
  background-size: 300% 300%;
  animation: gradient 3s infinite ease-in-out;
}
@keyframes gradient {
  0% {
    background-position: 50%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 50%;
  }
}

.header-nav__item:hover {
  text-shadow: 8px 4px 4px #333333;
}

.header-nav__item:hover .header-nav__link {
  color: #333333;
}

.header__logo:hover {
  border-bottom: 1px solid #333333;
}

.intro__scroll:hover .scroll-down {
  color: #00A2FF;
}

.intro__scroll:hover .intro__scroll_svg {
  fill: #00A2FF;
}

.intro__button:hover {
  background: linear-gradient(90deg, #ffffff, #486BFE);
  background-size: 300% 300%;
  animation: gradient 3s infinite ease-in-out;
}
@keyframes gradient {
  0% {
    background-position: 50%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 50%;
  }
}

.search:focus-visible {
  background-color: rgba(35, 35, 35, 0.9);
}

.footer-social__item:active .svg__social-facebook {
  fill: #FF6363;
}

.footer-social__item:active .svg__social-twitter {
  fill: #FF6363;
}

.footer-social__item:active .svg__social-linkedin {
  fill: #FF6363;
}

.footer-social__item:active .svg__social-youtube {
  fill: #FF6363;
}

.footer-social__item:active .svg__social-pinterest {
  fill: #FF6363;
}

.main__button:active {
  background: linear-gradient(to left, #999999, #333333);
}

.header-nav__item:active {
  text-shadow: 8px 4px 4px #FF6363;
}

.header-nav__item:active .header-nav__link {
  color: #FF6363;
}

.intro__button:active {
  background: linear-gradient(to left, #999999, #333333);
}

@media screen and (max-width: 1320px) {
  .fitback {
    background-image: url(../image/fitback.jpg);
    height: 680px;
  }
  .fitback-item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .fitback-item__text {
    max-width: 600px;
    width: 100%;
    height: 100%;
    background-color: #333333;
    padding: 20px 20px 18px 25px;
  }
}
@media screen and (max-width: 992px) {
  .fitback {
    background-image: url(../image/fitback.jpg);
    height: 680px;
  }
  .fitback-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .fitback-item__text {
    max-width: 600px;
    width: 100%;
    height: 100%;
    background-color: #333333;
    padding: 20px 20px 18px 25px;
  }
  .fitback-item__img {
    height: 200px;
  }
  .choose__text {
    max-width: 648px;
    width: 100%;
    margin-right: 15px;
  }
  .choose-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 424px;
    width: 290px;
  }
  .choose-img-1 {
    margin-right: 20px;
  }
  .choose-img-2 {
    margin-left: 20px;
  }
  .header-nav {
    position: fixed;
    right: 0;
    top: 0;
    min-height: 100vh;
    background-color: #FFFFFF;
    z-index: 10;
    padding: 40px 20px 0px 60px;
    transform: translateX(100vw);
  }
  .header-nav__list {
    flex-direction: column;
    align-items: flex-end;
    padding-top: 40px;
  }
  .header-nav__item {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .header-nav__item:last-child {
    margin: 0px;
  }
  .header-nav__close {
    display: block;
  }
  .is-open {
    position: fixed;
    right: 0;
    top: 0;
    min-height: 100vh;
    background-color: #5373FD;
    z-index: 10;
    padding: 40px 20px 0px 60px;
    transform: translateX(0);
    transition: all 0.3s;
  }
  .header__burger {
    display: block;
  }
  .main__link {
    font-family: "Aleo";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
  }
}
@media screen and (max-width: 768px) {
  .choose-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    margin-bottom: 30px;
  }
  .choose-img-1 {
    margin: 0px;
  }
  .choose__body {
    padding: 80px 0px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
  }
  .choose__text {
    margin: 0px;
  }
  .plan__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .plan__item {
    margin-top: 70px;
  }
  .plan__item:last-child {
    margin-top: 0px;
  }
  .intro__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }
  .intro__search {
    margin-bottom: 170px;
  }
  .intro {
    height: 700px;
  }
}
@media screen and (max-width: 640px) {
  .plan__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .plan__item:first-child {
    margin-bottom: 0px;
  }
  .fitback-item__text {
    padding: 10px;
    max-width: 440px;
    width: 100%;
  }
  .fitback__title {
    margin-bottom: 30px;
  }
  .search {
    padding: 20px 0px 20px 3px;
  }
  .spain__card {
    height: 400px;
  }
  .fitback__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
  }
}/*# sourceMappingURL=index.css.map */